@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Esse site foi contruído com um intuito didádico.</p>
<p>@ViewData["Builder"]</p>
<address>
    <strong> Mais informações : </strong> <a href="https://twitter.com/gabriel_kollun">Twitter</a>
</address>